/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    list-style: none;
    overflow-x: hidden;
}

/* variables */
:root {
    --color0: #ff7ae8;
    --color1: #005240;
    --color2: #c7fceb;
    --color3: #508072;
    --color4: #fff;
}

/* styles */
html {
    height: 100%;
}

body {
    height: 100%;
}

/* header */
header {
    height: 10%;
    background-color: var(--color3);
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: space-around;
    -ms-flex-line-pack: distribute;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

header h1 {
    font-size: clamp(20px, 100%, 40px);
    color: var(--color2);
    cursor: pointer;
}

.containerIcons .imgCart {
    height: 40px;
    cursor: pointer;
}

/* main */
main {
    height: 200%;
    width: 100%;
    background-color: var(--color4);
    display: flex;
    flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    align-items: flex-start;
    -ms-flex-align: start;
    justify-content: center;
    -ms-flex-line-pack: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

/* filter */
main .containerFilter {
    height: 50%;
    width: 20%;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.containerFilter .title {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    -ms-flex-align: end;
    justify-content: center;
    -ms-flex-line-pack: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.title h2 {
    text-align: center;
    font-size: 25px;
}

.containerFilter .filterPrice {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.containerFilter .filterStock {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    -ms-flex-align: center;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.containerFilter ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: self-start;
    -ms-flex-align: baseline;
    justify-content: center;
    -ms-flex-line-pack: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    align-content: center;
}

/* stock */
main .stock {
    width: 55%;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    z-index: 50;
}

main .stock div {
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: flex-end;
    -ms-flex-line-pack: end;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    gap: 3%;
}

/* cart */
.cart {
    height: 100%;
    width: 20%;
    background-color: var(--color1);
}