/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    list-style: none;
}

/* variables */
:root {
    --color0: #ff7ae8;
    --color1: #005240;
    --color2: #c7fceb;
    --color3: #508072;
    --color4: #fff;
}

/* styles */
html {
    height: 100%;
}

body {
    height: 100%;
    overflow-x: hidden;
}

/* header */

header {
    height: 10%;
    width: 100%;
    background-color: var(--color3);
    z-index: 21;
}

nav {
    height: 100%;
    width: 100%;
    background-color: var(--color3);
    z-index: 21;
}

.navBarIndex {
    z-index: 21;
}

#carrito {
    height: 200%;
    width: 50%;
    position: fixed;
    background-color: var(--color4);
    left: 54%;
    z-index: 20;
}

/* main */
main {
    height: 125%;
    width: 100%;
    background-color: var(--color4);
    display: grid;
    grid-template-columns: repeat(auto-fit(150px, 1fr));
    gap: 16px;
    place-items: center;
}

/* stock */
main .stock {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .stock div {
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    gap: 3%;
}

/* cart .cart {
    height: 100%;
    width: 20%;
    background-color: var(--color1);
} */